absl-py
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy
cachetools
certifi
cffi
chardet
cryptography
cycler
Cython
debugpy
decorator
defusedxml
einops
entrypoints
executing
fastjsonschema
filelock
filterpy
fonttools
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-language-pack-zh-CN
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lazy-loader
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numba
numpy
oauthlib
opencv-python
packaging
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scikit-image
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
stack-data
supervisor
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
tifffile
timm
tinycss2
torch-dct
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
yacs
zipp